streamlit==1.24.1
tensorflow==2.13.0
pillow==9.2.0
werkzeug==2.3.6
scikit-learn==2.3.6
pandas==1.4.3
numpy==1.4.3
scikit-learn-intelex==2023.2.1
openai==0.27.8
xgboost==1.7.6
scikit-image==0.21.0
opencv-python-headless==4.8.0.76
